body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: #f40c0c;
  background-color: #161414;
}

a {
  color: #174760;
} 

p {
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: Yellow;
}

.page-header {
  border-bottom: 1pxpx solid #B74D60;
}

hr {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #ffffff;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  background-color: #5B7470;
  padding: 4px 4px 4px 4px;
  font-size: 13px;
  color: #7E6FF0;
  border: 1px solid #ccc;
}

.well {
  background-color: #DA5A20;
}

.btn {
  color: #83A9B0;
  background-image: -moz-linear-gradient(top, #B56100, #F8C0B0);
  background-image: -ms-linear-gradient(top, #B56100, #F8C0B0);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#B56100), to(#F8C0B0));
  background-image: -webkit-linear-gradient(top, #B56100, #F8C0B0);
  background-image: -o-linear-gradient(top, #B56100, #F8C0B0);
  background-image: linear-gradient(top, #B56100, #F8C0B0);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'B56100, endColorstr='#'F8C0B0, GradientType=0);
}

.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  color: #83A9B0;
  background-color: #F8C0B0;
}

.btn-primary {
  background-color: #006dcc;
  color: #956780;
  background-image: -moz-linear-gradient(top, #9213E0, #2D3070);
  background-image: -ms-linear-gradient(top, #9213E0, #2D3070);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#9213E0), to(#2D3070));
  background-image: -webkit-linear-gradient(top, #9213E0, #2D3070);
  background-image: -o-linear-gradient(top, #9213E0, #2D3070);
  background-image: linear-gradient(top, #9213E0, #2D3070);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'9213E0, endColorstr='#'2D3070, GradientType=0);
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  background-color: #2D3070;
}

.btn-warning {
  color: #25F2A0;
  background-image: -moz-linear-gradient(top, #88AB60, #A871E0);
  background-image: -ms-linear-gradient(top, #88AB60, #A871E0);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#88AB60), to(#A871E0));
  background-image: -webkit-linear-gradient(top, #88AB60, #A871E0);
  background-image: -o-linear-gradient(top, #88AB60, #A871E0);
  background-image: linear-gradient(top, #88AB60, #A871E0);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'88AB60, endColorstr='#'A871E0, GradientType=0);
}

.btn-warning:hover,
.btn-warning:active,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled] {
  background-color: #A871E0;
}

.btn-danger {
  color: #9B10B0;
  background-image: -moz-linear-gradient(top, #015FB0, #EC4D10);
  background-image: -ms-linear-gradient(top, #015FB0, #EC4D10);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#015FB0), to(#EC4D10));
  background-image: -webkit-linear-gradient(top, #015FB0, #EC4D10);
  background-image: -o-linear-gradient(top, #015FB0, #EC4D10);
  background-image: linear-gradient(top, #015FB0, #EC4D10);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'015FB0, endColorstr='#'EC4D10, GradientType=0);
}

.btn-danger:hover,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
  background-color: #EC4D10}

.btn-success {
  color: #4A6FF0;
  background-image: -moz-linear-gradient(top, #AB0E80, #AD01F0);
  background-image: -ms-linear-gradient(top, #AB0E80, #AD01F0);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#AB0E80), to(#AD01F0));
  background-image: -webkit-linear-gradient(top, #AB0E80, #AD01F0);
  background-image: -o-linear-gradient(top, #AB0E80, #AD01F0);
  background-image: linear-gradient(top, #AB0E80, #AD01F0);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'AB0E80, endColorstr='#'AD01F0, GradientType=0);
}
.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #AD01F0;
}

.btn-info {
  color: #3CD580;
  background-image: -moz-linear-gradient(top, #2FD640, #BD5F00);
  background-image: -ms-linear-gradient(top, #2FD640, #BD5F00);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2FD640), to(#BD5F00));
  background-image: -webkit-linear-gradient(top, #2FD640, #BD5F00);
  background-image: -o-linear-gradient(top, #2FD640, #BD5F00);
  background-image: linear-gradient(top, #2FD640, #BD5F00);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'2FD640, endColorstr='#'BD5F00, GradientType=0);
}
.btn-info:hover,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
  background-color: #BD5F00;
}

.alert {
  padding: 8px 35px 8px 14px;
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
}

.alert-success {
  background-color: #D6A540;
  border-color: #9F0BE0;
}
.alert-success, .alert-success .alert-heading {
  color: #5A5900;
}
.alert-danger, .alert-error {
  background-color: #D29DD0;
  border-color: #ACE9D0;
}
.alert-danger,
.alert-error,
.alert-danger .alert-heading,
.alert-error .alert-heading {
  color: #229570;
}
.alert-info {
  background-color: #6520C0;
  border-color: #3CD5D0;
}
.alert-info, .alert-info .alert-heading {
  color: #F3E570;
}

.navbar-inner {
  background-image: -moz-linear-gradient(top, #e51616, #0f0101);
  background-image: -ms-linear-gradient(top, #e51616, #0f0101);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e51616), to(#0f0101));
  background-image: -webkit-linear-gradient(top, #e51616, #0f0101);
  background-image: -o-linear-gradient(top, #e51616, #0f0101);
  background-image: linear-gradient(top, #e51616, #0f0101);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'e51616, endColorstr='#'0f0101, GradientType=0);
}

.navbar .brand {
  padding: 8px 20px 12px;
  font-size: 20px;
  color: #e8dada;
}

.navbar .divider-vertical {
  height: 41px;
  background-color: #E3F270;
  border-right: 1px solid #E6FAD0;
}

.navbar .nav > li > a {
  padding: 10px 10px 11px;
  font-size: 14px;
  color: #f4f418;
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  color: #0f0e0e;
}

.label,
.badge {
  padding: 1px 3px 2px;
  font-size: 9.75px;
  color: #29EF70;
  background-color: #2433B0;
}

.label-important,
.badge-important {
  background-color: #D924C0;
}

.label-warning,
.badge-warning {
  background-color: #637F90;
}

.label-success,
.badge-success {
  background-color: #45FE50;
}

.label-info,
.badge-info {
   background-color: #FECE60;
}
